.p-login.q-pa-lg
    .row.justify-center.q-mb-lg
        h1.text-h5.text-secondary.text-weight-bold Proceso de registro

    q-input.q-mb-lg(
        v-model = "email"
        label   = "Correo electr칩nico"
        outlined
    )
        template(v-slot:prepend)
            q-icon.cursor-pointer(
                name = "mail_outline"
            )

    q-input.q-mb-lg(
        v-model = "password"
        :type   = "isPassword ? 'password' : 'text'"
        label   = "Contrase침a"
        outlined
    )
        template(v-slot:prepend)
            q-icon.cursor-pointer(
                name = "lock_outline"
            )

        template(v-slot:append)
            q-icon.cursor-pointer(
                :name  = "isPassword ? 'visibility_off' : 'visibility'"
                @click = "isPassword = !isPassword"
            )

    q-input.q-mb-lg(
        v-model = "confirmPassword"
        :type   = "isConfirmPassword ? 'password' : 'text'"
        label   = "Confirmar contrase침a"
        outlined
    )
        template(v-slot:prepend)
            q-icon.cursor-pointer(
                name = "lock_outline"
            )

        template(v-slot:append)
            q-icon.cursor-pointer(
                :name  = "isConfirmPassword ? 'visibility_off' : 'visibility'"
                @click = "isConfirmPassword = !isConfirmPassword"
            )

    .row.justify-between
        q-btn(
            :to = "{ name: 'login' }"
            label = "Iniciar sesi칩n"
            color = "secondary"
            flat
        )

        q-btn(
            @click = "signUp"
            label  = "Registrarse"
            color  = "primary"
            outline
        )
